Proyecto_CineALL/Proyecto_CineALL/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63593/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:element name="comestibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="comestiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="comestiblesResult" nillable="true" type="q1:ArrayOfComestibles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q2:Comestibles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarComeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q3:Comestibles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarComeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarComeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q4:Comestibles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarComeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarComeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tipocomestibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tipocomestiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="tipocomestiblesResult" nillable="true" type="q5:ArrayOfTipoComestible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTipCome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q6:TipoComestible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTipComeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarTipComeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTipCome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q7:TipoComestible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTipComeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarTipComeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTipCome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q8:TipoComestible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTipComeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarTipComeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="proveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="proveedorResult" nillable="true" type="q9:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q10:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarProveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q11:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q12:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listTipoPelicula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listTipoPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="listTipoPeliculaResult" nillable="true" type="q13:ArrayOfTipoPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTipoPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q14:TipoPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTipoPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTipoPeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTipoPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q15:TipoPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTipoPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTipoPeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q16:TipoPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTipoPeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPeliculas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listPeliculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="listPeliculasResult" nillable="true" type="q17:ArrayOfPeliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q18:Peliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q19:Peliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q20:Peliculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePeliculaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q21:Boleta" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="carrito" nillable="true" type="q22:ArrayOfCarrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransaccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="validarUsuarioResult" nillable="true" type="q23:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="reg" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>