Proyecto_CineALL/Proyecto_CineALL/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComestibles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comestibles" nillable="true" type="tns:Comestibles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComestibles" nillable="true" type="tns:ArrayOfComestibles" />
  <xs:complexType name="Comestibles">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_Com" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="id_proveedor" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="rutaimg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock_Actual" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comestibles" nillable="true" type="tns:Comestibles" />
  <xs:complexType name="ArrayOfTipoComestible">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoComestible" nillable="true" type="tns:TipoComestible" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoComestible" nillable="true" type="tns:ArrayOfTipoComestible" />
  <xs:complexType name="TipoComestible">
    <xs:sequence>
      <xs:element minOccurs="0" name="descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComestible" nillable="true" type="tns:TipoComestible" />
  <xs:complexType name="ArrayOfProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proveedor" nillable="true" type="tns:Proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProveedor" nillable="true" type="tns:ArrayOfProveedor" />
  <xs:complexType name="Proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proveedor" nillable="true" type="tns:Proveedor" />
  <xs:complexType name="ArrayOfTipoPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPelicula" nillable="true" type="tns:TipoPelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPelicula" nillable="true" type="tns:ArrayOfTipoPelicula" />
  <xs:complexType name="TipoPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPelicula" nillable="true" type="tns:TipoPelicula" />
  <xs:complexType name="ArrayOfPeliculas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Peliculas" nillable="true" type="tns:Peliculas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeliculas" nillable="true" type="tns:ArrayOfPeliculas" />
  <xs:complexType name="Peliculas">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="entradas" type="xs:int" />
      <xs:element minOccurs="0" name="entradasRestantes" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaEstreno" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="rutaimg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peliculas" nillable="true" type="tns:Peliculas" />
  <xs:complexType name="Boleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaBoleta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="precioTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boleta" nillable="true" type="tns:Boleta" />
  <xs:complexType name="ArrayOfCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrito" nillable="true" type="tns:Carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrito" nillable="true" type="tns:ArrayOfCarrito" />
  <xs:complexType name="Carrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="rutaimg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrito" nillable="true" type="tns:Carrito" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>